.accommodation_area{

  .single_accommodation{
    font-family: $font1;
    color: $font_1;
    padding-top: 50px;
  }

  .accommodation_text {
    p {
      text-align: center;
      text-justify: auto;
    }
  }
}
