.contact_area {
  padding-top: 100px;

  .single_contact {
    font-family: $font1;
    color: $font_1;
  }

  .contact_info {
    p {
      font-family: $font1;
      color: $font_1;
      text-align: center;
      text-justify: auto;
      font-size: 16px;
    }
    padding-bottom: 50px;
  }
}
