.menu_area {

  p {
    font-size: 16px;
    font-family: $font1;
    text-align: center;
    text-justify: auto;
    padding-bottom: 30px;

    span {
      color: #C78665;
    }
  }


  li {
    font-size: 16px;
    font-family: $font1;
    color: #727272;
    text-align: center;
    text-justify: auto;
  }

  h4 {
    font-size: 24px;
    padding-bottom: 10px;
    color: #C78665;
  }

  .wege {
    color: #44935b;
  }

  .lactose-free {
    color: #853f85;
  }

}
