.ui-tooltip {
  font-family: $font1;
  position: absolute !important;
  z-index: 9999 !important;
  max-width: 450px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
}
