
@import 'varriable';
@import 'mixins';
@import 'extend';
@import 'responsive';
@import 'theme-default';
@import 'btn';
@import 'section_title';
@import 'slick-nav';


// header
@import 'header';

// slider
@import 'slider';

// wedding_counter 
@import 'wedding_counter';

// wedding_counter 
@import 'program';

// wedding_counter 
@import 'attending';

// wedding_counter 
@import 'story';


// wedding_counter 
@import 'gallery';

// wedding_counter 
@import 'location';



// footer
@import 'footer';

// bradcam
@import 'bradcam';



// other pages default

// contact
@import 'contact';

// elements
@import 'elements';

// blog
@import 'blog';


// blog part
@import 'blog_part';

@import "pets";
@import "accommodation";
//@import "tooltip";

